{% extends 'base.html' %}
{% load custom_filters %}

{% block title %} Blog {% endblock %}

{% block body_block %}
     <div class="container">
          <h1>Here is blog list:</h1>
     {% for blog in blogs %}
          <h3>{{blog.blog_title }}</h3>
          <h6><i>{{blog.publish_date}}</i></h6>

          <div class="row">
               <div class="col-sm-4">
                    <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">

               </div>
               <div class="col-sm-8">
                    <p>
                         {{blog.blog_content | range_filter | linebreaks}}
                         <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read More</a>
                    </p>
                    <h6>Posted By: <a href="#">@{{ blog.author}}</a> | <i class="fas fa-thumbs-up"></i>{{blog.liked_blog.count}} | <i class="fas fa-comments"></i>  {{blog.blog_comment.count}}</h6>

               </div>
          </div>
     {% endfor %}
     </div>
{%endblock%}