{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block title%} blog.blog_title {% endblock %}


{% block body_block %}
<div class="container">
     {% if blog.author ==  user %}
     <form method="POST" enctype="multipart/form-data">
          {{form | crispy}}
          {% csrf_token%}
          <button type="submit" class="btn btn-warning btn-sm">Upadate</button>
     </form>
     {% else%}
     <p>You are not allowed to view this page. Error: 404</p>
     {% endif %}

</div>

{% endblock %}