{% extends 'base.html' %}
{% load custom_filters %}

{% block title%} {{ user }} {% endblock %}


{% block body_block %}

<div class="container" style="margin: 20px 0">
     {% for blog in user.post_author.all %}
     <div id="home-blog">
          <h3>{{blog.blog_title}}</h3>
          <h6>Published:{{blog.publish_date}} | Updated On: {{blog.update_date}} </h6> 
          <i class="fas fa-thumbs-up"></i>{{blog.liked_blog.count}} | <i class="fas fa-comments"></i>  {{blog.blog_comment.count}}
          <div class="row">
               <div class="col-sm-4">
                    <img src="/media/{{blog.blog_image}}" alt="" width="100%">
               </div>
               <div class="col-sm-8">
                    {{blog.blog_content|safe|slice:250}}
                    <a class="btn btn-info btn-sm" href="{% url 'App_Blog:blog_details' slug=blog.slug %}">See More</a> <a class="btn btn-sm btn-warning" href="{% url 'App_Blog:edit_blog' pk=blog.pk %}">Edit Blog</a> <a class="btn btn-sm btn-warning" href="{% url 'App_Blog:delete_blog' pk=blog.pk %}">Delete Blog</a>
               </div>
          </div>
     </div>


     {%endfor%}
</div>
{% endblock %}